* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f7f6;
}
.pro {
  text-align: center;
  color: orangered;
  padding-top: 80px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  list-style: none;
  z-index: 100;
  background-color: #f3f7f6;
  padding:0.5rem;
}
nav h1{
    padding-left: 7rem;
    color: orangered;
    font-size: xx-large;
}
nav .cart{
  cursor: pointer;
  padding-right: 6rem;
  
}
/*nav .cart1{
    padding-right: 6rem;
}*/
main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1rem;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(214, 206, 206, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: 20rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.product-card1 {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(116, 115, 115, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 18.5rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.product-card img {
  height: 15rem;
  margin-bottom: 1rem;
  width: auto;
}

.product-card h2 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.product-card p {
  margin: 0;
  margin-bottom: 0.5rem;
}
select {
  appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

select:focus {
  border-color: #4d90fe;
  box-shadow: 0 0 0 2px rgba(77, 144, 255, 0.2);
}
.product-card button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 6rem 0.5rem 6rem;
}

.product-card button:hover {
  background-color: #444;
  cursor: pointer;
}
